body{
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h3,h2{
    font-size: 18px!important;
}

h2{
    color: #1fbadf!important;
}

footer{
    background-color: #1fbadf;
}

input{
    margin: 5px!important;
}

.img2{
    position: relative;
    top: -22px;
}

hr{
    border-top: 2px black dotted!important;
}

h1{
    font-size: 22px!important;
}

p{
    font-size: 14px!important;
}

.btn{
    float: right;
    width: 150px;
    height: 50px;
    border: transparent;
    border-radius: 15px!important;
    font-size: 22px!important;
    font-weight: bold;
    background-color: #018aa9;
    color: white!important; 
}

.button{
    width: 150px;
    height: 50px;
    border: transparent;
    border-radius: 5px!important;
    font-size: 18px!important;
    font-weight: bold;
    color: white!important; 
    margin-bottom: 30px;
}
.displaynone{
    display: none!important;
}

.belangerijk{
    background-color: #e7eaeb;
}
.display{
    display: block!important;
}
.active{
    background-color: #018aa9!important;
    border-color: #018aa9!important;
}
.inactive{
    background-color: black;
}
#title{
    padding: 40px;
    color: #1fbadf;
}

#beschrijving{
    padding: 40px;
    font-size: 22px!important;
    height: 300px;
}

.backarrow{
    width: 20px;
    height: 30px;
    padding-top: 10px;
}

#slaover{
    background: none;
    border: none;
    outline: none;
}

.button:hover{
    background-color: #018aa9!important;
    border-color: #018aa9!important;
}